#moves-body-container {
  background-color: rgba(0, 0, 0, 0.756);
  color: rgba(255, 255, 255, 0.568);
  text-shadow: none;
}

#moves-bttn{
  background-color:rgb(46 88 185);
  border-color: 5px black;
}

#moves-bttn:hover{
  background-color: red;
}

#moves-item:hover{
  background-color: red;
  color: black;
}